body {
  background-image:url( "assets/background.jpg") ;
}

#logo img {
  width: 80px;
  max-width: 700px;
}

@media only screen and (min-width: 600px) {
  #logo img {
    width: 200px;
  }
}

h1 {
  text-shadow: rgb(242, 139, 139) 2px 2px;
  color: #f4ea8e
}

h2 {
  text-shadow: rgb(242, 139, 139) 2px 2px;
  color: #77d7da;
}

h3 {
  text-shadow: rgb(242, 139, 139) 2px 2px;
  color: #77d7da;
}

.product-item {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 450px) {
  h1, .h1, h2, .h2, h3, .h3 {
    font-size: 1em;
  }
}

label {
  text-shadow: rgb(242, 139, 139) 2px 2px;
  color: #474646;
  font-size: 1.5em;
}

.d-block {
  border: solid; border-color:#77d7da; border-radius: 50px; border-width: 8px; width: 80%
}