body {
    background-image:url( "assets/background.jpg") ;
  }
  
  #logo img {
    width: 80px;
  }
  
  @media only screen and (min-width: 600px) {
    #logo img {
      width: 200px;
    }
  }

  h1 {
    text-shadow: rgb(242, 139, 139) 2px 2px
  }

  h2 {
    text-shadow: rgb(242, 139, 139) 2px 2px
  }

  h3 {
    text-shadow: rgb(242, 139, 139) 2px 2px
  }

  .product-item {
    display: flex;
    justify-content: space-evenly;
  }

  .product-item .description {
    color: #0018c5e0;
  }